*{
    box-sizing:border-box;
  }
  body{
    margin:0;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 10px;
  }
a{ 
    text-decoration: none;
    color:white;
} 
.links
{
    background-color: black;
    text-align: center;
    padding-bottom:0px;
}
.links-elements {
    text-decoration: none;
    display: inline-block;
    padding-left: 40px;
    color:white;
}
.links-elements1 {
    text-decoration: none;
    display: inline-block;
    color:white;
}
.avatar
{
    height:114px;
    width: 114px;
}
.top
{
    margin-top: -16px;
    background-color:bisque;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.top_text
{
    padding-right:80px;
}
.name_description
{
    text-decoration: underline;
    color:peru
}
.wrapper
{
    border:solid;
    border-width: 1px;
    border-color: black;
}
.Text_start
{
    background: black;
	mix-blend-mode: lighten;
    color:rgb(255, 255, 255)
}
.info
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}
.skills
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}
.list_of_skills
{
    display:flex;   
}
.contacts
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}
.projects
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}
.code_example
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start
}
.example
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_links
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.rs_picture
{
    width:80px;
    height:80px;
}
.git_picture
{
    width:80px;
    height:80px;
}
.list_name
{
    list-style-type:none;
    padding-bottom: 10px;
    font-size:larger;
    font-weight: bold;
}
.black
{
	color:black;
}
